@import "tailwindcss";
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definisikan warna dasar untuk mode terang dan gelap */
@layer base {
  body {
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  /* Style untuk konten markdown yang dirender di mode gelap */
  .dark .prose {
    --tw-prose-body: theme('colors.dark-text-primary');
    --tw-prose-headings: theme('colors.white');
    --tw-prose-lead: theme('colors.dark-text-secondary');
    --tw-prose-links: theme('colors.teal-accent.500');
    --tw-prose-bold: theme('colors.white');
    --tw-prose-counters: theme('colors.dark-text-secondary');
    --tw-prose-bullets: theme('colors.dark-text-secondary');
    --tw-prose-hr: theme('colors.dark-surface');
    --tw-prose-quotes: theme('colors.white');
    --tw-prose-quote-borders: theme('colors.teal-accent.600');
    --tw-prose-captions: theme('colors.dark-text-secondary');
    --tw-prose-code: theme('colors.teal-accent.500');
    --tw-prose-pre-code: theme('colors.dark-text-primary');
    --tw-prose-pre-bg: theme('colors.dark-surface');
    --tw-prose-th-borders: theme('colors.dark-surface');
    --tw-prose-td-borders: theme('colors.dark-surface');
  }
}